<!-- stickey-div  -->

<div class="stickey-div d-flex justify-content-around align-items-center flex-column gap-2 py-2">
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-youtube"></i>
  <i class="fa-brands fa-pinterest-p"></i>
</div>
<!-- stickey-div  -->

<section id="Myblog" class="d-flex align-items-start justify-content-between ">
  <div class="blog">
    <div class="top d-flex align-items-start justify-content-start gap-5">
      <i class="fa-regular fa-user"></i>
      <h2>Admin</h2>
      <p>March 22,2023</p>
    </div>
    <div class="blog-body">
      <h1 class="title">Mexico: A Culinary Journey</h1>
      <p class="para1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid at eius voluptates suscipit dignissimos tempora cumque voluptatem odit quia sed natus harum velit dolorem voluptatum, neque magnam vitae pariatur accusantium laudantium autem, ipsa laboriosam culpa magni? Ad fugiat, vel totam nihil, saepe culpa earum perferendis obcaecati veniam, illo maiores rem?</p>
      <div class="img1 d-flex justify-content-center ">
        <img src="images/blog4.jpg" alt="" style="height: 563px; width: 584px; ">
      </div>
      <p>Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting. Think of it as an ongoing conversation where you can share updates about business, trends, news, and more. </p>
      <div class="sideline d-flex align-items-center justify-content-center  ">
        <p>Do you have a design in mind for your blog? Whether you prefer a trendy postcard look or you’re going for a more editorial style blog - there’s a stunning layout for everyone.</p>
      </div>
      <p>You’ll be posting loads of engaging content, so be sure to keep your blog organized with Categories that also allow visitors to explore more of what interests them.</p>
      <h2>Create Relevant Content</h2>
      <p>Writing a blog is a great way to position yourself as an authority in your field and captivate your readers’ attention. Do you want to improve your site’s SEO ranking? Consider topics that focus on relevant keywords and relate back to your website or business. You can also add hashtags (#vacation #dream #summer) throughout your posts to reach more people, and help visitors search for relevant content. 


        Blogging gives your site a voice, so let your business’ personality shine through. Choose a great image to feature in your post or add a video for extra engagement. Are you ready to get started? Simply create a new post now.</p>

    </div>
  </div>
<!-- nav-div  -->
<div class="nav-div1 d-flex  flex-column align-items-center">
  <div class="nav-div-img">
      <img src="images/nav-div.jpg" alt="">
  </div>
  <h1>
    Hi, thanks for dropping by!</h1>
  <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum error id nemo reiciendis placeat dolor ducimus ipsam itaque aut alias dicta rem dolorem totam commodi provident obcaecati sint, saepe praesentium exercitationem ratione! </p>
</div>
<!-- nav-div  -->

</section>





<!-- css  -->
<style>
#Myblog {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-between !important; /* Center items horizontally */
  align-items: start;
  margin: 9vw;
}
  /* nav-div  */
.nav-div1 {
  
width: 265px;
height: 600px;
background-color: var(--brown);
/* position: absolute;
z-index: 1; */
padding: 2vw;
margin-left: auto;
margin-right: 2vw;
color: var(--white);
font-size: 1rem;

}

.nav-div1 h1 {
font-size: 26px;
font-weight: 600;
font-family: "Playfair Display" !important;
padding-top: 2vw;
padding-bottom: 2vw;
}
.nav-div1 p {
font-size: 15px;
cursor: pointer;

}

.nav-div-img img {
border-radius: 50%;
padding-top: 10px;
width: 174px;
height: 173px;
}
.blog-body p{
text-wrap: wrap;
display: inline-block;

}

.blog {
  width: 70%; /* Occupies 70% of the width */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 2vw;
}
.sideline{
  border-left: 3px solid #986C43;
  padding-left: 5px;
  
}
.sideline p{
  
  padding-left: 7px;
  font-size: 24px;
  font-family: "Playfair Display" !important;
  font-weight: 500;
  line-height: 36px;
  
  
}
.top{
  color: black;
  font-size: 16px;
  /* align-content: center !important; */
}
.top h2{
  font-size: 16px;
}
.top i{
  color: #413f3f;
  margin-right: 10px;
}
.top p{
  color: #413f3f;
  font-size: 16px;
  text-align: start;
}

.title{
  font-size: 40px;
  font-family: "Playfair Display" !important;
  font-weight: 700;
  line-height: 26px;
  padding:10px 0 10px 0;
}
.para1{
  
  font-weight: 600;
  
}
p{
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  /* font-weight: 600; */
  line-height: 27px;
  text-align: justify;
  padding:15px 0 10px 0;
}
h2{
  font-size: 18px;
  font-weight: 700;
}
</style>