
<!-- stickey-div  -->

<div class="stickey-div d-flex justify-content-around align-items-center flex-column gap-2 py-2">
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-youtube"></i>
  <i class="fa-brands fa-pinterest-p"></i>
</div>
<!-- stickey-div  -->

<section id="blogs" class="d-flex flex-column   justify-content-center align-items-center  ">

  <h1>Blogs</h1>

  <div class="all-posts   ">
  <a href="#">All Posts</a>
  <a href="#">Recents</a>
  </div>

  <div class="blogs-grid">
    <div class="grid-container">
      <div class="grid-item d-flex justify-content-center align-items-center flex-column ">
        <div class="imgBlog">
          <img src="images/blog5.jpg" alt="" style="height: 376px; width: 460px;">
        </div >
        <div class="info ">
          <div class="main d-flex justify-content-between ">
            <div class="admin-info d-flex  ">
              <i class="fa-regular fa-user"></i>
            <div class="admin d-flex flex-column justify-content-start align-items-start">
              <h2>Admin</h2>
              <p>March 22,2023</p>
            </div>
            
            </div>
            <div class="three-dots"><i class="fa-solid fa-ellipsis-vertical "></i></div>
          </div>
          
          <div class="title d-flex justify-content-start  " ><h1>The Most Amazaing Diving Spot</h1></div>
          <div class="d-flex justify-content-start">
            <p class="para text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel est molestiae aliquid, fugit esse tenetur odit repudiandae eos nemo architecto nostrum quidem recusandae blanditiis error!
  
            </p>
          </div>
        </div>
        

      </div>
      <div class="grid-item d-flex justify-content-center align-items-center flex-column ">
        <div class="imgBlog">
          <img src="images/blog4.jpg" alt="" style="height: 376px; width: 460px;">
        </div >
        <div class="info ">
          <div class="main d-flex justify-content-between ">
            <div class="admin-info d-flex  ">
              <i class="fa-regular fa-user"></i>
            <div class="admin d-flex flex-column justify-content-start align-items-start">
              <h2>Admin</h2>
              <p>March 22,2023</p>
            </div>
            
            </div>
            <div class="three-dots"><i class="fa-solid fa-ellipsis-vertical "></i></div>
          </div>
          
          <div class="title d-flex justify-content-start  " ><h1>The Most Amazaing Diving Spot</h1></div>
          <div class="d-flex justify-content-start">
            <p class="para text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi. Consequuntur accusantium voluptatibus neque laborum minus, id numquam quos tempore blanditiis quia earum quidem amet fugiat fugit cum accusamus ipsum modi impedit. Optio, quaerat dolore odio dolor praesentium cupiditate officia, cum autem reiciendis et quae eveniet est fugiat iusto veritatis.
  
            </p>
          </div>
        </div>
        

      </div>
      <div class="grid-item d-flex justify-content-center align-items-center flex-column ">
        <div class="imgBlog">
          <img src="images/blog3.jpg" alt="" style="height: 376px; width: 460px;">
        </div >
        <div class="info ">
          <div class="main d-flex justify-content-between ">
            <div class="admin-info d-flex  ">
              <i class="fa-regular fa-user"></i>
            <div class="admin d-flex flex-column justify-content-start align-items-start">
              <h2>Admin</h2>
              <p>March 22,2023</p>
            </div>
            
            </div>
            <div class="three-dots"><i class="fa-solid fa-ellipsis-vertical "></i></div>
          </div>
          
          <div class="title d-flex justify-content-start  " ><h1>The Most Amazaing Diving Spot</h1></div>
          <div class="d-flex justify-content-start">
            <p class="para text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi. Consequuntur accusantium voluptatibus neque laborum minus, id numquam quos tempore blanditiis quia earum quidem amet fugiat fugit cum accusamus ipsum modi impedit. Optio, quaerat dolore odio dolor praesentium cupiditate officia, cum autem reiciendis et quae eveniet est fugiat iusto veritatis.
  
            </p>
          </div>
        </div>
        

      </div>
      
    </div>


  </div>

</section>
<!-- css  -->
<style>
  /* railway  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* playfairdisplay  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  #blogs{
    margin: 15vw;
    margin-top: 7vw !important;
    margin-bottom: 7vw !important;
    

  }
  #blogs > h1:first-child {
  font-size: 30px;
  font-family: "Playfair Display" !important;
  font-weight: 700;
  padding-bottom: 3vw;
}
#blogs .all-posts {
  display: flex;
  gap: 20px;
 padding-bottom: 2vw;
  margin-right: auto;
  text-decoration: none;
  
}
#blogs .all-posts a{
  color: black;
}
#blogs .all-posts a:hover{
  color: #986C43;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-columns: auto auto ;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    column-gap: 20px;
    row-gap: 20px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    box-sizing: border-box;
    

    /* padding: 20px; */
    /* font-size: 30px; */
    /* text-align: center; */
  }
.admin{
  color: #afafaf;
  font-size: 12px;
}
.admin h2{
  font-size: 12px;
}
.admin-info i{
  color: #a0a09f;
  margin-right: 10px;
}

.main{
  margin-top: 20px;
}
.info{
  padding:0 2vw 0 2vw;
  
}
.title h1{
  font-size: 21px;
  font-family: "Playfair Display" !important;
  font-weight: 700;
  line-height: 26px;
}
.title h1:hover{
  color: #986C43;
  cursor: pointer;
}

.para{
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.para:hover{
  color: #986C43;
  cursor: pointer;
}
.three-dots:hover{
  color: #986C43;
  cursor: pointer;
}
  </style>

