        <!-- footer  -->
        <footer>
          <div class="footer-items d-flex align-items-start justify-content-around p-5 flex-wrap">
              <div class="footer-logo">
                  <a href="./">
                      <i class="fa-solid fa-globe"></i>
                      On The Trail <br>
                      <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; My Travel Blog</p>
                  </a>
              </div>
              <div class="footer-links  ">
                  <ul>
                      <li>Home</li>
                      <li class="footer-links1  ">About Me</li>
                      <li class="footer-links1  ">Work With Me</li>
                      <li class="footer-links1  ">As Featured In</li>
                      <li class="footer-links1  ">Instagram</li>
                      <li class="footer-links1  ">Contact</li>
                  </ul>
              </div>

              <div class="footer-form">
                  <p>Subscribe here and get the latest travel tips <br> and my insider secrets!</p>
                  <div class="abc d-flex flex-column align-items-end">
                      <input type="email" name="" id="" placeholder="Email" class="email">
                      <button type="button" class="button-58 subscribeBtn">Subscribe</button>
                  </div>

              </div>
          </div>

          <div class="footer-bottom d-flex justify-content-center pb-4">
              <p>&copy; 2024 On The Trail. All rights reserved</p>
          </div>
      </footer>
      <!-- footer  -->