<section id="login">
  <div class="loginPar d-flex justify-content-center align-items-center  " data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500">
    <div class="login">
      <h1>Sign up , Your gateway to endless possibilities!</h1>
      <form action="/user" method="post">
        <label class="labels">Name</label>
      <input id="name" class="inputs" type="text" name="name" id="" placeholder="Name">
        <label class="labels" for="">Email</label>
        <input id="email" class="inputs" type="email" name="email" id="" placeholder="Enter Email" >
        <label class="labels" for="">Password</label>
        <input id="password" class="inputs" type="password" name="password" id="" placeholder="Enter Password">
      
        <input id="submit-btns" class="inputs up" type="submit" value="Sign Up">
      </form>
      <div class="line-container">
        <div class="left-line"></div>
        <div class="or">or</div>
        <div class="right-line"></div>
      </div>


      <div class="logines  ">
        <h2>Already have an account?</h2>
        <!-- <button>Create account</button> -->
        <a href="./login">
          <input class="inputs in  " type="submit" value="Login">
        </a>
      </div>

    </div>

    <div class="image1">
      <img src="images/blog1.jpg" alt="">
    </div>
  </div>


</section>

<style>
  .login {
    padding-left: 5vw;
  }

  .login h1 {
    font-size: 40px;
    font-family: "Playfair Display" !important;
    padding-bottom: 2vw;
    text-wrap: wrap;
    padding-right: 2vw;
    padding-top: 5vw;

  }

  .loginPar {
    margin: 10vw;
    background-color: #986C43;
    color: white;
  }

  .labels {
    display: block;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    font-weight: 600;
  }

  .as {
    display: block;
    color: white;
    padding: 1vw;
    text-align: right;
    padding-right: 13vw;
    font-weight: 600;
  }

  .as:hover {
    color: #364037;
  }

  .inputs {
    /* background: none; */
    border: none;
    outline: none;
    height: 2vw;
    width: 25vw;
    padding: 1vw;
    font-weight: 600;
    color: #364037;
  }
.up{
margin-top: 2vw;
}
  .inputs[type="submit"] {
    height: 3vw;
    background-color: #364037;
    color: white;
    border-radius: 5px;
    /* padding-bottom: vw; */
    text-align: center;

    /* margin-bottom: 5vw; */
  }

  .image1 {
    padding-right: 2vw;
  }

  .logines h2 {
    font-size: 1rem;
    padding-top: 1vw;
  }

  .in {

    margin-bottom: 5vw;
  }

  .line-container {
    display: flex;
    align-items: center;
    width: 66%;
    padding-top: 2vw;
    padding-bottom: 1vw;
  }

  .left-line,
  .right-line {
    flex: 1;
    border-bottom: 2px solid white;
  }

  .or {
    padding: 0 10px;
  }
</style>

<script src="https://code.jquery.com/jquery-3.7.1.js"
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  function doBindings() {
      let submitBtn = document.getElementById("submit-btns");
      submitBtn.onclick = handleFormSubmit;
  }
  $(doBindings);

  function handleFormSubmit(event) {
    let nameField = $("#name");
      let passField = $("#password");
      let emailField = $("#email");
      let errorMessage = $("<div class='error-message'>Password should contain alphanumeric characters and be at least 8 characters long</div>");

      
      let passwordRegex = /^[a-zA-Z0-9!@#$%^&*()_+{}\[\]:;<>,.?~=-]{8,}$/;
// atleast 8 character long The regular expression expects passwords to contain at least one alphanumeric character.

      let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Regular expression to validate email format
      let nameRegex = /^[a-zA-Z\s]+$/;// Regular expression to match only alphabetical characters
      // Name validation
      if (nameField.val()) {
            if (!nameRegex.test(nameField.val())) {
                console.log("Name should contain only alphabetical characters");
                event.preventDefault();
                nameField.addClass("error");
            } else {
                nameField.removeClass("error");
            }
        } else {
            console.log("Name field is empty");
            event.preventDefault();
            nameField.addClass("error");
        }
      // Password validation
      if (passField.val()) {
          if (!passwordRegex.test(passField.val())) {
            console.log("Password should contain alphanumeric characters and at least 8 characters long");
            errorMessage.insertAfter(passField).css("color", "#364037");
              event.preventDefault();
              passField.addClass("error");
          } else {
              passField.removeClass("error");
          }
      } else {
          console.log("Password field is empty");
          errorMessage.insertAfter(passField).css("color", "#364037");
          event.preventDefault();
          passField.addClass("error");
      }

      // Email validation
      if (emailField.val()) {
          if (!emailRegex.test(emailField.val())) {
              console.log("Invalid email format");
              event.preventDefault();
              emailField.addClass("error");
          } else {
              emailField.removeClass("error");
          }
      } else {
          console.log("Email field is empty");
          event.preventDefault();
          emailField.addClass("error");
      }

      
  }
</script>
<!-- aos  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>